{% extends 'SymbioOrangeGateAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    <script>
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
            USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
            USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };
    </script>

    {% if admin_pool is defined %}
        {% for javascript in admin_pool.getOption('javascripts', []) %}
            <script src="{{ asset(javascript) }}"></script>
        {% endfor %}
    {% endif %}

    {# localize moment #}
    {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
    {% endif %}

    {% if admin_pool is defined and admin_pool.getOption('use_bootlint') %}
        {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
        <script type="text/javascript">
            javascript:(function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();
        </script>
    {% endif %}
{% endblock %}
{% block sonata_wrapper %}
    {% block sonata_left_side %}
        {{ parent() }}
    {% endblock %}
    <div class="content-wrapper clearfix">
        {% block sonata_page_content %}
            <section class="content clearfix">
                <div class="sonata-ba-content">
                    <h1 style="text-align:center; padding-top:200px">{{ exception.message | trans }}</h1>
                </div>
            </section>
        {% endblock %}
    </div>
{% endblock %}