{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}
    {{ 'page.compose_page'|trans({}, 'SonataPageBundle') }} "{{ page.name }}" <small>[template: <b>{{ template.name }}</b>]</small>
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {% include 'SymbioOrangeGatePageBundle:Button:create_button.html.twig' %}
    <div class="btn-group">{% spaceless %}
        {% include 'SymbioOrangeGateAdminBundle:Button:show_button.html.twig' %}
        {% include 'SymbioOrangeGateAdminBundle:Button:history_button.html.twig' %}
        {% if admin.child('sonata.page.admin.snapshot').isGranted('CREATE')%}
            {% include 'SymbioOrangeGateAdminBundle:Button:publish_button.html.twig' %}
        {% endif %}
        {% include 'SymbioOrangeGateAdminBundle:Button:acl_button.html.twig' %}
    {% endspaceless %}</div>
    {#% include 'SymbioOrangeGateAdminBundle:Button:list_button.html.twig' %#}
{% endblock %}

{% block body_attributes %}class="sonata-bc skin-blue page-composer-page sonata-ba-no-side-menu"{% endblock %}

{% block content %}
    <div class="page-composer">

        {% if containers|length == 0 %}
            {% include 'SonataPageBundle:PageAdmin:compose_hint.html.twig' %}
        {% else %}
            <div class="row row-fluid">
                <div class="col-md-4 span4">
                    <div class="page-composer__page-preview">
                        <div class="page-composer__page-preview__containers">
                            {% for container in containers %}
                                {% if container.block is defined and container.block %}
                                    <a class="page-composer__page-preview__container block-preview-{{ container.block.id }}"
                                       data-block-id="{{ container.block.id }}"
                                       style="top:{{ container.area.placement.y }}%;right:{{ container.area.placement.right }}%;bottom:{{ container.area.placement.bottom }}%;left:{{ container.area.placement.x }}%"
                                       href="{{ path('admin_orangegate_page_page_compose_container_show', { 'id': container.block.id }) }}"
                                            >
                                        <div class="page-composer__page-preview__container__content">
                                            <strong>{{ container.block.name|default(container.area.name) }}</strong><br>
                                            <small><span class="child-count">{{ container.block.children|length }}</span> blocks</small>
                                            <span class="page-composer__page-preview__add-block">
                                                <i class="fa fa-circle-o"></i>
                                                <i class="fa fa-dot-circle-o"></i>
                                            </span>
                                            <span class="drop-indicator">
                                                <span class="fa fa-download"></span>
                                            </span>
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="page-composer__page-preview__container--no-block"
                                         style="top:{{ container.area.placement.y }}%;right:{{ container.area.placement.right }}%;bottom:{{ container.area.placement.bottom }}%;left:{{ container.area.placement.x }}%"
                                            >
                                        <div class="page-composer__page-preview__container__content">
                                            <strong>{{ container.area.name }}</strong>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% if orphanContainers|length > 0 %}
                        <div class="page-composer__orphan-containers">
                            <h3 class="page-composer__orphan-containers__header">{{ 'page.orphan_containers'|trans({}, 'SonataPageBundle') }}</h3>
                            <ul>
                                {% for orphanContainer in orphanContainers %}
                                    <li class="page-composer__orphan-container block-preview-{{ orphanContainer.id }}"
                                        data-block-id="{{ orphanContainer.id }}"
                                        href="{{ path('admin_orangegate_page_page_compose_container_show', { 'id': orphanContainer.id }) }}"
                                            >
                                        <strong>{{ orphanContainer.name|default(orphanContainer.type) }}</strong><br>
                                        <small><span class="child-count">{{ orphanContainer.children|length }}</span> blocks</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8 span8">
                    <div class="page-composer__dyn-content">
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    var composer = new PageComposer({{ page.id }}, {
                        routes: {
                            save_blocks_positions: "{{ admin_pool.getAdminByAdminCode('sonata.page.admin.block').generateUrl('savePosition', { 'id': page.id }) }}",
                            block_switch_parent:   "{{ admin_pool.getAdminByAdminCode('sonata.page.admin.block').generateUrl('switchParent') }}",
                            block_preview:         "{{ admin_pool.getAdminByAdminCode('sonata.page.admin.block').generateUrl('composePreview', { 'block_id': 'BLOCK_ID' }) }}"
                        }
                    });

                    composer.csrfTokens = {{ csrfTokens|json_encode()|raw }};

                    window.SonataPageComposer  = composer;
                });
            </script>
        {% endif %}
    </div>


{% endblock %}
